@mixin media($width, $type: min) {
  $breakpoints: (
    "phone": 320px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "pc": 992px,
    "desktop": 1200px,
    "desktop-wide": 1440px
  );
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin font-styles($size: false, $color: false, $weight: false, $lh: false, $family: false) {
  font: {
    @if ($size) {
      size: $size;
    }
    @if ($weight) {
      weight: $weight;
    }
    @if ($family) {
      family: $family;
    }
  }
  @if ($color) {
    color: $color;
  }
  @if ($lh) {
    line-height: $lh;
  }
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder,
  &::-moz-placeholder {
    @content;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin font-family($name, $dir, $file, $weight) {
  @font-face {
    font-family: $name;
    font-weight: $weight;
    font-display: block;
    src: url('../fonts/'+ $dir +'/' + $file + '.woff') format('woff'),
    url('../fonts/'+ $dir +'/' + $file + '.woff2') format('woff2');
  }
}

@mixin pulseColor($red: 255, $green: 255, $blue: 255) {
  0% {
    box-shadow: 0 0 0 0 rgba($red, $green, $blue, .4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($red, $green, $blue, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($red, $green, $blue, 0);
  }
}