// default styles
$wrapper-phone: 100%;
$wrapper-pc: 960px;
$wrapper-desktop: 1170px;
$lh-size: 18px;
$link-color: #fff;
$text-size: 13px;
$text-color: #000;
$font-weight: 400;
$title-size: 36px;
$title-color: #fff;
$title-span-color: #3e9cdc;
$hover-link-color: #43abf0;
$bg-input: rgba(255,255,255,.85);
$focus-field-text-color:#fff;
$focus-field-bg-color:#3d4050;
$bg-hover-button: #33a9f9;
$bg-button: #3e9cdc;
$placeholder-size: 18px;
$placeholder-color: #272733;
$border: 1px solid #fff;
$font-family: 'Lato', 'Arial', 'Roboto', sans-serif;