// default styles
$wrapper-phone: 100%;
$wrapper-pc: 960px;
$wrapper-desktop: 1170px;
$default-lh: 18px;
$default-link: #fff;
$default-size: 13px;
$default-color: #000;
$default-weight: 400;
$default-title-size: 36px;
$default-title-color: #fff;
$default-title-color-span: #3e9cdc;
$default-hover-link: #43abf0;
$bg-default-input: rgba(255,255,255,.85);
$bg-default-hover-button: #33a9f9;
$bg-default-button: #3e9cdc;
$default-placeholder-size: 18px;
$default-placeholder-color: #272733;
$default-border: 1px solid #fff;
$default-family: 'Lato', 'Arial', 'Roboto', sans-serif;