@import "./variables";
@import "./mixins";
@import "./animations";

@include font-family("Lato", "Lato", "LatoRegular", 400);
@include font-family("Lato", "Lato", "LatoBold", 700);

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  @include font-styles($text-size, $text-color, $font-weight, $lh-size, $font-family);
}

.wrapper {
  display: flex;
  @include media(phone) {
    width: $wrapper-phone;
  }
  @include media(pc) {
    width: $wrapper-pc;
  }
  @include media(desktop) {
    width: $wrapper-desktop;
  }
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  position: relative;
  transition: color .4s ease-out;
  @include font-styles($color: $link-color);
  &:hover {
    @include font-styles($color: $hover-link-color);
  }
}

input {
  border: $border;
  border-radius: 3px;
  @include input-placeholder {
    @include font-styles($size: 18px, $color: #272733);
  }
  background-color: $bg-input;
  @include font-styles($size: $placeholder-size, $color: $placeholder-color);
  &:focus {
    background-color: $focus-field-bg-color;
    @include font-styles($color: $focus-field-text-color);
  }
}

ul, ol {
  display: flex;
  padding-left: 0;
  list-style: none;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: center;
}

button {
  border: $border;
  cursor: pointer;
  background: {
    color: $bg-button;
  }
  transition: {
    duration: .4s;
    property: background-color;
    timing-function: ease-in-out;
  }
  &:hover {
    background: {
      color: $bg-hover-button;
    }
  }
}

input, textarea, select, button {
  font: inherit;
}

.sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.title {
  margin-bottom: 20px;
  @include font-styles($size: $title-size, $color: $title-color, $weight: 800);
  span {
    @include font-styles($color: $title-span-color);
  }
}