.order-form__system-choice-list::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
  background-color: #3d4050;

  &-thumb {
    border-radius: 3px;
    background-color: #3e9cdc;
  }
}

.order {
  @include media(phone) {
    padding-top: 87px;
    padding-bottom: 107px;
  }
  @include media(phablet) {
    padding-top: 115px;
    padding-bottom: 147px;
  }
  min-height: 880px;
  background: {
    position: center top;
    image: url(../img/bg/bg-order.jpg);
  }

  &__title {
    width: 100%;
    @include media(phone) {
      line-height: 1.2;
    }
    @include media(phablet) {
      line-height: 1;
    }
    text-align: center;
    text-transform: uppercase;

    span {
      padding-left: 10px;
    }
  }

  &__desc {
    color: #bbb;
    width: 100%;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 5px;
    text-align: center;
  }

  &-scheme {
    width: 100%;
    margin-top: 80px;
    @include media(tablet) {
      justify-content: space-evenly;
    }
    @include media(pc) {
      justify-content: space-between;
    }
    flex-flow: row wrap;
    align-items: flex-start;
    &__icon {
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      background-color: #3e9cdc;
      border: 5px solid #286690;
      background-repeat: no-repeat;
      background-position: center center;

      &.mail {
        background-image: url(../img/icons/envelope.png);
      }

      &.loupe {
        background-image: url(../img/icons/search.png);
      }

      &.percent {
        background-image: url(../img/icons/percent.png);
      }

      &.file-plus {
        background-position: 23px 22px;
        background-image: url(../img/icons/file-plus.png);
      }

      &.money {
        background-image: url(../img/icons/money.png);
      }

      &:after {
        top: 35px;
        color: #fff;
        @include media(pc) {
          right: -82px;
          content: ". . .";
        }
        @include media(desktop) {
          right: -133px;
          content: ". . . . .";
        }
        font-size: 48px;
        position: absolute;
        transform: translateY(-50%);
      }
    }

    &__work-title {
      width: 100%;
      color: #fff;
      font-size: 16px;
      max-width: 170px;
      font-weight: 400;
      margin: 16px auto 0;
    }

    &__item {
      @include media(phone) {
        width: 100%;
        padding: 0 15px;
        &:nth-child(n + 2) {
          margin-top: 30px;
        }
      }
      @include media(phablet) {
        width: 50%;
        &:nth-child(n + 2) {
          margin-top: 0;
        }
        &:nth-child(n + 3) {
          margin-top: 30px;
        }
      }
      @include media(tablet) {
        width: 33.334%;
        &:nth-child(n + 3) {
          margin-top: 0;
        }
        &:nth-child(n + 4) {
          margin-top: 30px;
        }
      }
      @include media(pc) {
        padding: 0;
        width: 20%;
        &:nth-child(n + 4) {
          margin-top: 0;
        }
      }
      @include media(desktop) {
        width: 170px;
      }
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &:last-child {
        .order-scheme__icon {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &-form {
    display: flex;
    @include media(phone) {
      margin-top: 90px;
      max-width: 400px;
    }
    @include media(pc) {
      max-width: 100%;
      margin-top: 100px;
    }
    @include media(desktop) {
      margin-top: 80px;
    }
    flex-flow: row wrap;
    justify-content: center;

    select {
      display: none;
    }

    &__system-choice {
      border: 0;
      outline: 0;
      width: 100%;
      color: #272733;
      cursor: pointer;
      font-size: 18px;
      text-align: left;
      border-radius: 3px;
      display: inline-block;
      padding: 14px 40px 14px 14px;
      background-color: rgba(255,255,255,.85);

      &-wrapper {
        border: 0;
        outline: 0;
        @include media(phone) {
          width: 100%;
        }
        @include media(pc) {
          width: 288px;
        }
        @include media(desktop) {
          width: 368px;
        }
        position: relative;

        svg {
          right: 14px;
          width: 20px;
          height: 16px;
          position: absolute;
          transition: transform .4s ease-in-out, color .4s ease-out;
        }

        .active {
          svg {
            transform: rotateX(180deg);
          }
        }
      }

      &-list {
        left: 0;
        top: 100%;
        height: 0;
        width: 100%;
        color: #fff;
        font-size: 18px;
        overflow-y: auto;
        max-height: 174px;
        line-height: 34px;
        border-radius: 3px;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: height .4s ease-in-out;
        background-color: rgba(39, 39, 51, .9);

        &.active {
          height: 175px;
        }

        li {
          width: 100%;
          display: block;
          padding: 0 14px;
          cursor: pointer;
          transition: color .4s ease-out;

          &:hover,
          &.active {
            color: #42a9ed;
          }
          &:last-child {
            margin-bottom: 5px;
          }
        }
      }

      &.active {
        background-color: $focus-field-bg-color;
        @include input-placeholder {
          @include font-styles($size: 18px, $color: #ffffff);
        }
        @include font-styles($color: $focus-field-text-color);
      }
    }

    &__discount {
      margin-left: 0;
      padding: 12px 0;

      &::-webkit-slider {
        &-thumb {
          height: 23px;
          width: 23px;
          cursor: pointer;
          margin-top: -8px;
          border-radius: 50%;
          background: #3e9cdc;
          -webkit-appearance: none;
          border: 3px solid #286690;
        }
        &-runnable-track {
          width: 100%;
          height: 6px;
          cursor: pointer;
          border-radius: 3px;
          background: rgba(255,255,255,.85);
        }
      }

      &-wrapper {
        border: 0;
        width: 100%;
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        @include media(pc) {
          max-width: 612px;
        }
        @include media(desktop) {
          max-width: 770px;
        }
      }

      &-title {
        color: #fff;
        display: flex;
        font-size: 18px;
        margin-bottom: 15px;
        align-items: flex-end;
        justify-content: space-between;

        span {
          margin-left: 40px;
        }
      }
    }

    &__file {
      display: none;
      &-wrapper {
        border: 0;
        width: 100%;
        margin-top: 33px;
        @include media(phone) {
          margin-left: 0;
        }
        @include media(pc) {
          max-width: 288px;
          margin-left: 30px;
        }
        @include media(desktop) {
          max-width: 370px;
        }
      }

      &-button {
        display: flex;
        color: #272733;
        font-size: 15px;
        cursor: pointer;
        font-weight: 600;
        border-radius: 3px;
        padding: 10px 14px;
        align-items: center;
        justify-content: center;
        border: 2px solid #3e9cdc;
        text-transform: uppercase;
        background-color: rgba(255,255,255,.94);
        transition: background-color .4s ease-in-out, border-color .4s ease-in-out;
        @include media(phablet) {
          margin-left: auto;
        }

        @include media(pc) {
          width: 100%;
          margin-left: 0;
        }

        &:hover {
          background-color: #3e9cdc;
          border: 2px solid rgba(255,255,255,.94);
        }

        &:before {
          margin-left: 5px;
          display: inline-block;
          content: url("../img/icons/file-alt-fa.png");
        }

        span {
          @include media(phone) {
            margin-left: 20px;
          }
          @include media(desktop) {
            margin-left: 31px;
          }
        }
      }
    }

    &__submit {
      width: 100%;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      margin-top: 40px;
      border-width: 1px;
      border-radius: 3px;
      padding: 12px 14px;
      text-transform: uppercase;
      @include media(pc) {
        max-width: 288px;
      }
      @include media(desktop) {
        max-width: 370px;
      }
    }
  }
}